@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,500&display=swap');
@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@config "../tailwind.config.ts";
@import "./components//Button/button.css";

@font-face {
  font-family: "Mitchaella";
  src: url("/src/assets/fonts/Mitchaella Free Modern Unique.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  @apply font-Montserrat;
 
}


input[type="text"], input[type="number"], input[type="email"], textarea, select, input{
  @apply focus:outline-none  focus:border-[#cfe7cf] border-[#cfe7cf] 
}


.btn--primary {
    @apply bg-white text-white hover:bg-[#3F6C54] px-8 py-4 text-base;
}

.btn--secondary {
    @apply bg-[#e7f3e7]  text-[#111711] p-3 text-base;
}
@media only screen and (max-width: 765px) {
  .slick-dots {
  bottom: 20px !important;
  }
}
@media only screen and (min-width: 765px) {
    .slick-dots {
  bottom: 20px !important;
  }
}
.slick-dots {
  position: absolute;
  
/* bottom: 120px !important; */

  z-index: 20 ;
  /* color: white !important; */
}

.slick-prev{
left:10px !important;
}
.slick-next {
right: 10px !important;
}
.slick-prev,
.slick-next {
  z-index: 20;
  color: blue;
  font-size: 32px;
  
}

.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
}